<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pharmacy.mapper.GoodsTypeMapper">
    
    <resultMap type="GoodsType" id="GoodsTypeResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectGoodsTypeVo">
        select id, type from goods_type
    </sql>

    <select id="selectGoodsTypeList" parameterType="GoodsType" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectGoodsTypeById" parameterType="Long" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGoodsType" parameterType="GoodsType" useGeneratedKeys="true" keyProperty="id">
        insert into goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateGoodsType" parameterType="GoodsType">
        update goods_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsTypeById" parameterType="Long">
        delete from goods_type where id = #{id}
    </delete>

    <delete id="deleteGoodsTypeByIds" parameterType="String">
        delete from goods_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>