<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pharmacy.mapper.NewsMapper">
    
    <resultMap type="News" id="NewsResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="source"    column="source"    />
    </resultMap>

    <sql id="selectNewsVo">
        select id, content, source from news
    </sql>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
        </where>
    </select>
    
    <select id="selectNewsById" parameterType="Long" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNews" parameterType="News" useGeneratedKeys="true" keyProperty="id">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="source != null">source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="source != null">#{source},</if>
         </trim>
    </insert>

    <update id="updateNews" parameterType="News">
        update news
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="source != null">source = #{source},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsById" parameterType="Long">
        delete from news where id = #{id}
    </delete>

    <delete id="deleteNewsByIds" parameterType="String">
        delete from news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>